#set( $iAmVariable = "good!" )
Welcome ${display.capitalize($name)} to velocity.com $iAmVariable
Welcome $name.substring(0,1).toUpperCase()$name.substring(1).toLowerCase() to velocity.com $iAmVariable
Welcome $test1.hello.substring(0,1).toUpperCase()
${test1.hello}

today is $date.
